$lightGreen: #b9e7e7;
$equal10px: 0.625rem;
$equal12px: 0.75rem;
$equal14px: 0.875rem;
$equal18px: 1.125rem;
$equal20px: 1.25rem;
$equal25px: 1.5625rem;
$equal30px: 1.875rem;
$equal42px: 2.625rem;
$equal48px: 3rem;
$equal50px: 3.125rem;

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.app {
    display: flex;
    justify-content: center;
    
    .container {
        width: 1024px;

        .link {
            color: inherit;
            text-decoration: none;
        }

        //Login & register
        .auth {
            align-items: center;
            background-color: $lightGreen;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            h1 {
                color: teal;
                font-size: $equal20px;
                margin: 0 0 $equal20px;
            }

            .authForm, 
            .registerForm {
                background-color: white;
                border-radius: $equal10px;
                display: flex;
                flex-direction: column;
                gap: 1.25rem;
                padding: $equal10px;
                width: 200px;
                input {
                    border: 1px solid grey;
                    border-radius: $equal10px;
                    padding: $equal10px;
                }

                button {
                    background-color: teal;
                    border: 0.5px solid transparent;
                    border-radius: $equal10px;
                    color: white;
                    cursor: pointer;
                    padding: $equal10px;
                }

                p {
                    color: red;
                    font-size: 0.75rem;
                    margin: 0;
                    text-align: center;
                }

                span {
                    font-size: 1rem;
                    text-align: center;
                }
            }
        }

        //Navbar
        .navbar{
            
            .navbarContainer{
                align-items: center;
                display: flex;
                justify-content: space-between;
                padding: $equal10px 0px;
                
                .logo{
                   img{
                    width: 120px;
                    // max-height: 100px;
                    // max-width: 100px;
                   }
                }
                
                .links{
                    align-items: center;
                    display: flex;
                    gap: $equal10px;
                    
                    h6 {
                        font-size: 1rem;
                        font-weight: 300;
                        margin: 0;
                    }

                    span {
                        cursor: pointer;
                    }

                    .write {
                        align-items: center;
                        background-color: $lightGreen;
                        border: 1px solid white;
                        border-radius: 50%;
                        display: flex;
                        font-weight: 300;
                        height: 50px;
                        justify-content: center;
                        width: 50px;

                        &:hover {
                            background-color: white;
                            border: 1px solid teal;
                            color: teal;
                        }
                    }
                }
            }
        }

        //Footer

        footer {
            align-items: center;
            background-color: $lightGreen;
            display: flex;
            justify-content: space-between;
            margin: 100px 0 0 0;
            padding: 20px;
            
            img {
                height: 50px;
            }
        }

        //Home page
        .home {
            
            .posts {
                display: flex;
                flex-direction: column;
                gap: 100px;
                //margin: 50px 0 0 0;

                .post {
                    display: flex;
                    gap: 100px;

                    &:nth-child(2n+1){
                        flex-direction: row-reverse;
                    }

                    .img {
                        flex: 1;
                        position: relative;

                        &::after{
                            background-color: $lightGreen;
                            content: "";
                            height: 100%;
                            left: -20px;
                            position: absolute;
                            top: 20px;
                            width: 100%;
                            z-index: -1;
                        }

                        img {
                            max-height: 400px;
                            object-fit: cover;
                            width: 100%;
                        }
                    }

                    .content {
                        display: flex;
                        flex-direction: column;
                        flex: 2;
                        justify-content: space-between;

                        h1 {
                            font-size: $equal48px;
                            margin: 0;
                        }

                        p {
                            font-size: $equal18px;
                            margin: 0;
                        }

                        button {
                            background-color: white;
                            border: 1px solid teal;
                            color: teal;
                            cursor: pointer;
                            padding: $equal10px $equal20px;
                            width: max-content;

                            &:hover {
                                background-color: $lightGreen;
                                border: 1px solid white;
                                color: black;
                            }
                        }
                    }
                }
            }
        }

        //Single post page 

        .single {
            display: flex;
            gap: $equal50px;

            .content {
                display: flex;
                flex: 5;
                flex-direction: column;
                gap: $equal30px;

                img {
                    height: 300px;
                    object-fit: cover;
                    width: 100%;
                }

                .user {
                    align-items: center;
                    display: flex;
                    font-size: $equal14px;
                    gap: $equal10px;

                    img {
                        //border-radius: 50%;
                        height: $equal50px;
                        object-fit: cover;
                        width: $equal50px;
                    }

                    span {
                        font-weight: bold;
                    }
                }

                .edit {
                    display: flex;
                    gap: 5px;

                    img {
                        cursor: pointer;
                        height: $equal20px;
                        width: $equal20px;
                    }
                }

                h1 {
                    color: #333;
                    font-size: $equal42px;
                    margin: 0;
                }

                p {
                    line-height: $equal30px;
                    margin: 0;
                    text-align: justify;
                }
            }
            .menu {
                display: flex;
                flex-direction: column;
                flex: 2;
                gap: $equal25px;

                h1 {
                    color: #555;
                    font-size: $equal20px;
                    margin: 0;
                }

                .post {
                    display: flex;
                    flex-direction: column;
                    gap: $equal10px;

                    img {
                        height: 200px;
                        object-fit: cover;
                        width: 100%;
                    }

                    h2 {
                        color: #555;
                        margin: 0;
                    }

                    button {
                        background-color: white;
                        border: 1px solid teal;
                        color: teal;
                        cursor: pointer;
                        padding: $equal10px $equal20px;
                        width: max-content;

                        &:hover {
                            background-color: $lightGreen;
                            border: 1px solid white;
                            color: black;
                        }
                    }
                }
            }
        }

        //Write page

        .add {
            display: flex;
            gap: $equal20px;
            margin: $equal20px 0 0 0;

            .content {
                display: flex;
                flex: 5;
                flex-direction: column;
                gap: $equal20px;

                input {
                    padding: $equal10px;
                    border: 1px solid lightgray;
                }

                .editorContainer {
                    border: 1px solid lightgray;
                    height: 300px;
                    overflow: scroll;

                    .editor {
                        height: 100%;
                    }
                }
            }

            .menu {
                display: flex;
                flex: 2;
                flex-direction: column;
                gap: $equal20px;

                .item {
                    border: 1px solid lightgray;
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    font-size: $equal12px;
                    color: #555;
                    justify-content: space-between;
                    padding: 10px;

                    h1 {
                        font-size: $equal20px;
                        margin: 0;
                    }

                    .file {
                        cursor: pointer;
                        text-decoration: underline;
                    }

                    .buttonsInWriteComponent {
                        display: flex;
                        justify-content: space-between;

                        :first-child {
                            background-color: white;
                            border: 1px solid teal;
                            color: teal;
                            cursor: pointer;
                            padding: 3px 5px;
                        }

                        :last-child {
                            background-color: teal;
                            border: 1px solid teal;
                            color: white;
                            cursor: pointer;
                            padding: 3px 5px;
                        }
                    }

                    .categoryinWriteComponent {
                        align-items: center;
                        color: teal;
                        display: flex;
                        gap: 2px;
                    }
                }
            }
        }
    }
}